@model EFExampleProject.UserData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserLogin</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("UserLogin","Login",FormMethod.Post))
        {
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.username)</td>
                <td>@Html.EditorFor(m => m.username)</td>
                <td>@Html.ValidationMessageFor(m=>m.username)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.password)</td>
                <td>@Html.PasswordFor(m => m.password)</td>
                <td>@Html.ValidationMessageFor(m => m.password)</td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Login" /></td>
                
            </tr>
        </table>
        }
        <p> @ViewBag.message</p>
    </div>
</body>
</html>
